body {
  margin: 0;
  padding: 0;
  background: #333;
}
canvas {
  position: absolute;
  top: -webkit-calc(50% - 300px);
  top: calc(50% - 300px);
  left: -webkit-calc(50% - 300px);
  left: calc(50% - 300px);
}
